<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Modal</title>
</head>
<link type="text/css" rel="stylesheet" href="../static/admin/plugins/bootstrap-fileinput-5.2.2/css/fileinput.css" />
<script type="text/javascript" src="../static/admin/plugins/bootstrap-fileinput-5.2.2/js/fileinput.js"></script>
<script src="../static/admin/plugins/bootstrap-fileinput-5.2.2/js/locales/zh.js"></script>

<body>
<input type="file" name="image" class="projectfile" value="image.png"/>
<!--
1. type=file和class=projectfile，指明其为input file类型。
2. name指定其在后台的获取key。
3. value指定其在展示的时候图片路径。
-->
</body>
<script>
    control.fileinput({
        language: 'zh', //设置语言
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
        showUpload: false, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
    });
</script>
</html>